
ion-header {
  top: -76px;
  height: 0;
  transition: all linear 0.2s;
  ion-toolbar {
      --opacity:1;
    height: 80px;
    --height: 80px;
    --min-height: 80px;
    min-height: 80px;
    --max-height: 80px;
    max-height: 80px;
    border: none;
    --border-width: 0;

    ion-title {
      img {
        width: auto;
        height: 40px;
      }
    }

    ion-buttons {
      margin: 0 20px;
    }
  }
}
ion-content {
}

ion-header {
  // --background:#ffffff;
  ion-toolbar {
    // --background:#ffffff;

    ion-menu-button {
      // --color: #ffffff;
    }

    ion-title {
      img {
        height: 40px;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
ion-content {
  --background: none;
  background-size: cover;
  width: 100%;
  height: 100vh;

  .toolbar-wrapper {
    position: relative;
    width: 100%;
    margin-top: 40px;

    ion-toolbar {
      height: 55px;
      --background: transparent;
      --height: 55px;
      --min-height: 55px;

      ion-buttons {
        margin-right: 20px;
      }

      ion-title {
        height: auto !important;

        img {
          width: 150px;
        }
      }
    }
  }

  .content {
    // display: grid;
    // height: 100%;
    // align-items: top;
    // align-content: top;

    .upcoming-events {
      width: 100%;
      float: left;
      padding: 0 7.5vw;

      ion-card {
        box-shadow: none;
        margin: 0 0 40px 0;

        &:last-child {
          margin-bottom: 0;
        }
        --background: none;
        ion-card-content {
          padding: 0;
          margin-top: 10px;
          font-family: "Baskerville";
          font-size: 15px;
          color: #343434;

          .text-content {
            font-size: 18px;
          }
        }

        .buttons {
          margin-top: 5px;
          ion-button {
            --background: #e2c09a;
            --color: #ffffff;
            margin-right: 10px;
            font-family: "Roboto-regular";
          }
        }
      }
    }

    .past-events {
      width: 100%;
      float: left;
      margin-top: 30px;

      .image {
        float: left;
        margin-bottom: 7.5vw;

        img {
          display: block;
        }
      }

      .text-desc {
        padding: 0 7.5vw;
        font-family: "Baskerville";
        font-size: 15px;
        color: #343434;
      }

      .buttons {
        margin-top: 5px;
        padding: 0 7.5vw;
        ion-button {
          --background: #e2c09a;
          --color: #ffffff;
          margin-right: 10px;
          font-family: "Roboto-regular";
        }
      }
    }
  }

}
