ion-menu ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;

  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
  --transition: none;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

// /*
//  * Material Design Menu
// */
// ion-menu.md ion-list {
//   padding: 20px 0;
// }

// ion-menu.md ion-list-header {
//   padding-left: 18px;
//   padding-right: 18px;

//   text-transform: uppercase;
//   letter-spacing: .1em;
//   font-weight: 450;
// }

// ion-menu.md ion-item {
//   --padding-start: 18px;

//   margin-right: 10px;

//   border-radius: 0 50px 50px 0;

//   font-weight: 500;
// }

// ion-menu.md ion-item.selected {
//   --background: rgba(var(--ion-color-primary-rgb), 0.14);
// }

// ion-menu.md ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.md ion-list-header,
// ion-menu.md ion-item ion-icon {
//   color: var(--ion-color-step-650, #5f6368);
// }

// ion-menu.md ion-list:not(:last-of-type) {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }


// /*
//  * iOS Menu
// */
// ion-menu.ios ion-list-header {
//   padding-left: 16px;
//   padding-right: 16px;
//   padding-bottom: 8px;
//   padding-top: 20px;
// }

// ion-menu.ios ion-list {
//   padding: 20px 0 0;
// }

// ion-menu.ios ion-item {
//   --padding-start: 16px;
//   --min-height: 50px;
// }

// ion-menu.ios ion-item ion-icon {
//   font-size: 24px;
//   color: #73849a;
// }

// ion-menu.ios ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }


ion-menu{
  
  ion-content{
    --background: none;
    background: url('../assets/images/menu-background.jpg') bottom left no-repeat #ffffff; 
    background-size: cover;
    --padding-end: 7vw;
    --padding-bottom: 7vw;
    --padding-start: 7vw;
    --padding-top: 7vw; 
    .list-ios, .list-android{
      background: none !important;
    }
      ion-list{
          --background: none !important;

          ion-list-header{
              --background: none;
              background: none;
              color: #ffffff;
              padding-left: 16px;
              padding-right: 16px;
              padding-bottom: 8px;
              padding-top: 20px;

              text-transform: uppercase;
              letter-spacing: .1em;
              font-weight: 450;

              
          }

          ion-menu-toggle{
            padding-top: 10px;
            ion-item{
              --background: none;
              color: #ffffff;
              --border-color:#ffffff;
              // padding-bottom: 10px;
              ion-icon{
                  color: #ffffff;
                  font-size: 24px;
              }

              ion-label{
                text-transform: uppercase;
                --color-hover: #ffffff;
              --color-focused: #ffffff;
              --color-activated: #ffffff;
              --color: #ffffff !important;
              text-overflow: inherit !important;
              white-space: initial !important;
              margin: 0;
              }
          } 
          }
      }
  }
}


::ng-deep ion-alert{
  color: red;
}